:root {
    --clr-soft-blue: #5368df;
    --clr-soft-red: #fa5757;
    --clr-grayish-blue: #9194a1;
    --clr-light-gray: #dbdbdb;
    --clr-dark-blue: #252b46;
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-blue:rgb(38, 0, 255)0;
    --clr-trasparent-blue: rgba(19, 28, 70, 0.829);
}
