:root {
  --clr-soft-blue: #5368df;
  --clr-soft-red: #fa5757;
  --clr-grayish-blue: #9194a1;
  --clr-light-gray: #eaeaee;
  --clr-dark-blue: #252b46;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-trasparent-blue: rgba(19, 28, 70, 0.829);
}

.button {
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1.75rem;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

.button-red {
  background-color: var(--clr-soft-red);
  border: 2px solid var(--clr-soft-red);
  color: var(--clr-white);
  transition: all 0.2s ease-out;
  font-weight: 500;
  box-shadow: 0px 11px 19px -11px rgba(116, 116, 116, 0.801);
}
.button-red:hover {
  color: var(--clr-soft-red);
  background-color: var(--clr-white);
  border: 2px solid var(--clr-soft-red);
  cursor: pointer;
  font-weight: 500;
}

.button-blue {
  background-color: var(--clr-soft-blue);
  border: 2px solid var(--clr-soft-blue);
  color: var(--clr-white);
  transition: all 0.2s ease-out;
  font-weight: 500;
  box-shadow: 0px 11px 19px -11px rgba(116, 116, 116, 0.801);
}
.button-blue:hover {
  color: var(--clr-soft-blue);
  background-color: var(--clr-white);
  border: 2px solid var(--clr-soft-blue);
  cursor: pointer;
  font-weight: 500;
}

.button-light-gray {
  background-color: var(--clr-light-gray);
  border: 2px solid var(--clr-light-gray);
  color: var(--clr-dark-blue);
  transition: all 0.2s ease-out;
  font-weight: 500;
  box-shadow: 0px 11px 19px -11px rgba(116, 116, 116, 0.801);
}
.button-light-gray:hover {
  color: var(--clr-light-gray);
  background-color: var(--clr-white);
  border: 2px solid var(--clr-light-gray);
  cursor: pointer;
  font-weight: 500;
}

header {
  margin: 2rem 0;
}
header .offcanvas-body {
  display: flex;
  flex-direction: column;
}
header .button-login {
  letter-spacing: 2px;
  text-transform: uppercase;
}
header .navbar-nav {
  gap: 2.8rem;
}
header .navbar-nav .nav-link {
  font-weight: 500;
  color: var(--clr-dark-blue);
  letter-spacing: 1px;
  font-size: 13px;
  text-transform: uppercase;
  padding: 0 !important;
  transition: 0.2s ease-out;
}
header .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: var(--clr-soft-red);
}
header .button-login-sm {
  width: 100%;
  border: 2px solid var(--clr-white);
  text-align: center;
  color: var(--clr-white);
  font-weight: 500;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 8px 32px;
  margin-top: 20px;
}
header .button-close svg > path {
  fill: var(--clr-light-gray);
}
header .social {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  header .navbar-nav {
    gap: 0rem;
  }
  .navbar-offcanvas.offcanvas-end {
    width: 100%;
    background-color: var(--clr-trasparent-blue);
    color: var(--clr-white);
    padding: 1rem 1rem 3rem 1rem;
  }
  .navbar-offcanvas.offcanvas-end .offcanvas-title > a > svg g path {
    fill: var(--clr-white);
  }
  .navbar-offcanvas.offcanvas-end .offcanvas-title > a svg .mark circle {
    fill: var(--clr-white);
  }
  .navbar-offcanvas.offcanvas-end .offcanvas-title > a > svg .mark path {
    fill: var(--clr-dark-blue);
  }
  .navbar-offcanvas.offcanvas-end .button-close {
    background-color: transparent;
    padding: 0;
  }
  .navbar-offcanvas.offcanvas-end .button-close > svg path {
    fill: var(--clr-white);
  }
  .navbar-offcanvas.offcanvas-end .nav-link {
    color: var(--clr-white);
    font-weight: lighter;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .navbar-offcanvas.offcanvas-end .nav-item {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 0.5px solid var(--clr-grayish-blue);
  }
  .navbar-offcanvas.offcanvas-end .top-border {
    padding-top: 20px;
    border-top: 0.5px solid var(--clr-grayish-blue);
  }
}
.hero {
  position: relative;
}
.hero-buttons {
  display: flex;
  gap: 1rem;
}
.hero-buttons .button-light-gray:hover {
  border: 2px solid var(--clr-dark-blue);
  color: var(--clr-dark-blue);
}
.hero-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
}
.hero-description h1 {
  color: var(--clr-dark-blue);
  font-size: calc(2rem + 1vw);
  margin-bottom: 0;
}
.hero-description p {
  color: var(--clr-grayish-blue);
  margin-bottom: 0;
  font-size: calc(0.75rem + 0.25vw);
}
.hero .hero-banner {
  display: block;
  margin-left: auto;
  position: relative;
  right: -5rem;
  top: 15;
  width: 100%;
}
.hero .hero-bg {
  width: min(40%, 570px);
  aspect-ratio: 3/2;
  background-color: var(--clr-soft-blue);
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: -2rem;
  border-radius: 0 0 0 10rem;
}
@media screen and (max-width: 767px) {
  .hero .hero {
    display: flex;
    justify-content: center;
  }
  .hero .hero-description {
    text-align: center;
    align-items: center;
    margin-top: 2rem;
  }
  .hero .hero-buttons .button-light-gray,
.hero .hero-buttons .button-blue {
    padding: 12px;
  }
  .hero .hero-banner {
    position: static;
    height: 80%;
    right: 0 !important;
  }
  .hero .hero-bg {
    height: 40%;
    width: 90%;
    z-index: -1;
    bottom: 45%;
    right: -20%;
    position: absolute;
    display: block;
    border-radius: 0 0 0 25%;
  }
}

.features {
  position: relative;
  margin: 5rem 0;
}
.features-title {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: min(90%, 500px);
  margin-left: auto;
  margin-right: auto;
}
.features-title h3 {
  color: var(--clr-dark-blue);
  font-size: calc(1.25rem + 1vw);
  margin-bottom: 0;
  margin-bottom: 2rem;
}
.features-title p {
  color: var(--clr-grayish-blue);
  margin-bottom: 0;
  font-size: calc(0.9rem + 0.25vw);
}
.features-body {
  margin-top: 75px;
}
.features-body .body-links {
  display: flex;
  text-align: center;
  justify-content: center;
}
.features-body .body-links > a {
  width: 244px;
  text-decoration: none;
  border-bottom: 1px solid var(--clr-grayish-blue);
  padding-bottom: 25px;
  cursor: pointer;
}
.features-body .body-links .bookmarking {
  color: var(--clr-dark-blue);
  border-bottom: 4px solid var(--clr-soft-red);
}
.features-body .body-links .searching {
  color: var(--clr-grayish-blue);
}
.features-body .body-links .sharing {
  color: var(--clr-grayish-blue);
}
.features-body .body-parts .part-one {
  margin-top: 4rem;
}
.features-body .body-parts .part-one .parts-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
  padding-left: 6rem;
}
.features-body .body-parts .part-one .parts-description h1 {
  color: var(--clr-dark-blue);
  font-size: calc(1.25rem + 1vw);
  margin-bottom: 0;
}
.features-body .body-parts .part-one .parts-description p {
  color: var(--clr-grayish-blue);
  margin-bottom: 0;
  font-size: calc(0.75rem + 0.5vw);
}
.features-body .body-parts .part-one .banner {
  display: block;
  margin-right: auto;
  position: relative;
  right: 0;
  width: 100%;
}
.features-body .body-parts .part-one .bg {
  width: min(40%, 570px);
  aspect-ratio: 3/2;
  background-color: var(--clr-soft-blue);
  position: absolute;
  z-index: -1;
  left: 0;
  top: 26rem;
  border-radius: 0 0 10rem 0;
}
@media screen and (max-width: 767px) {
  .features-body .features-body {
    margin-top: 35px;
  }
  .features-body .features-body .body-links {
    align-items: center;
    flex-direction: column;
  }
  .features-body .features-body .body-links > a {
    width: 100%;
    padding: 16px 0;
  }
  .features-body .features-body .body-links .bookmarking {
    border-top: 1px solid var(--clr-grayish-blue);
  }
  .features-body .body-parts {
    display: flex;
    justify-content: center;
  }
  .features-body .body-parts .parts-description {
    text-align: center;
    align-items: center;
    margin-top: 2rem;
    padding: 16px !important;
  }
  .features-body .body-parts .part-one {
    margin-top: 0;
  }
  .features-body .body-parts .part-one .banner {
    position: static;
    margin: 1rem auto 0 auto;
    right: 0 !important;
    width: 80%;
  }
  .features-body .body-parts .part-one .bg {
    height: 23%;
    width: 70%;
    z-index: -1;
    top: 85%;
    right: -20%;
    position: absolute;
    display: block;
    border-radius: 0 0 100px 0;
  }
}

body {
  font-family: "Rubik";
  overflow-x: hidden;
}