:root {
  --clr-soft-blue: #5368df;
  --clr-soft-red: #fa5757;
  --clr-grayish-blue: #9194a1;
  --clr-light-gray: #dbdbdb;
  --clr-dark-blue: #252b46;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-blue:rgb(38, 0, 255)0;
  --clr-trasparent-blue: rgba(19, 28, 70, 0.829);
}

.button {
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1.75rem;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

.button-red {
  background-color: var(--clr-soft-red);
  border: 2px solid var(--clr-soft-red);
  color: var(--clr-white);
  transition: all 0.2s ease-out;
  font-weight: 500;
  box-shadow: 0px 11px 19px -11px rgba(116, 116, 116, 0.801);
}
.button-red:hover {
  color: var(--clr-soft-red);
  background-color: var(--clr-white);
  border: 2px solid var(--clr-soft-red);
  cursor: pointer;
  font-weight: 500;
}

.button-blue {
  background-color: var(--clr-soft-blue);
  border: 2px solid var(--clr-soft-blue);
  color: var(--clr-white);
  transition: all 0.2s ease-out;
  font-weight: 500;
  box-shadow: 0px 11px 19px -11px rgba(116, 116, 116, 0.801);
}
.button-blue:hover {
  color: var(--clr-soft-blue);
  background-color: var(--clr-white);
  border: 2px solid var(--clr-soft-blue);
  cursor: pointer;
  font-weight: 500;
}

.button-light-gray {
  background-color: var(--clr-light-gray);
  border: 2px solid var(--clr-light-gray);
  color: var(--clr-dark-blue);
  transition: all 0.2s ease-out;
  font-weight: 500;
  box-shadow: 0px 11px 19px -11px rgba(116, 116, 116, 0.801);
}
.button-light-gray:hover {
  color: var(--clr-light-gray);
  background-color: var(--clr-white);
  border: 2px solid var(--clr-light-gray);
  cursor: pointer;
  font-weight: 500;
}

header {
  margin: 2rem 0;
}
header .offcanvas-body {
  display: flex;
  flex-direction: column;
}
header .button-login {
  letter-spacing: 2px;
  text-transform: uppercase;
}
header .navbar-nav {
  gap: 2.8rem;
}
header .navbar-nav .nav-link {
  font-weight: 500;
  color: var(--clr-dark-blue);
  letter-spacing: 1px;
  font-size: 13px;
  text-transform: uppercase;
  padding: 0 !important;
  transition: 0.2s ease-out;
}
header .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: var(--clr-soft-red);
}
header .button-login-sm {
  width: 100%;
  border: 2px solid var(--clr-white);
  text-align: center;
  color: var(--clr-white);
  font-weight: 500;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 8px 32px;
  margin-top: 20px;
}
header .button-login-sm:hover {
  border: 2px solid var(--clr-soft-red);
  background-color: var(--clr-soft-red) !important;
  color: var(--clr-white);
  transition: all 0.2s ease-in;
}
header .button-close svg > path {
  fill: var(--clr-light-gray);
}
header .social {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}
header .social svg > path:hover {
  fill: var(--clr-soft-red);
  cursor: pointer;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 767px) {
  header .navbar-nav {
    gap: 0rem;
  }
  .navbar-offcanvas.offcanvas-end {
    width: 100%;
    background-color: var(--clr-trasparent-blue);
    color: var(--clr-white);
    padding: 1rem 1rem 3rem 1rem;
  }
  .navbar-offcanvas.offcanvas-end .offcanvas-title > a > svg g path {
    fill: var(--clr-white);
  }
  .navbar-offcanvas.offcanvas-end .offcanvas-title > a svg .mark circle {
    fill: var(--clr-white);
  }
  .navbar-offcanvas.offcanvas-end .offcanvas-title > a > svg .mark path {
    fill: var(--clr-dark-blue);
  }
  .navbar-offcanvas.offcanvas-end .button-close {
    background-color: transparent;
    padding: 0;
  }
  .navbar-offcanvas.offcanvas-end .button-close > svg path {
    fill: var(--clr-white);
  }
  .navbar-offcanvas.offcanvas-end .button-close > svg path:hover {
    fill: var(--clr-soft-red);
  }
  .navbar-offcanvas.offcanvas-end .nav-link {
    color: var(--clr-white);
    font-weight: lighter;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .navbar-offcanvas.offcanvas-end .nav-item {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 0.5px solid var(--clr-grayish-blue);
  }
  .navbar-offcanvas.offcanvas-end .top-border {
    padding-top: 20px;
    border-top: 0.5px solid var(--clr-grayish-blue);
  }
}
.hero {
  position: relative;
}
.hero-buttons {
  display: flex;
  gap: 1rem;
}
.hero-buttons .button-light-gray:hover {
  border: 2px solid var(--clr-dark-blue);
  color: var(--clr-dark-blue);
}
.hero-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
}
.hero-description h1 {
  color: var(--clr-dark-blue);
  font-size: calc(2rem + 1vw);
  margin-bottom: 0;
}
.hero-description p {
  color: var(--clr-grayish-blue);
  margin-bottom: 0;
  font-size: calc(0.75rem + 0.25vw);
}
.hero .hero-banner {
  display: block;
  margin-left: auto;
  position: relative;
  right: 0;
  width: 100%;
}
.hero .hero-bg {
  width: min(40%, 570px);
  aspect-ratio: 3/1.75;
  background-color: var(--clr-soft-blue);
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: -2rem;
  border-radius: 0 0 0 10rem;
}
@media screen and (max-width: 767px) {
  .hero .hero {
    display: flex;
    justify-content: center;
  }
  .hero .hero-description {
    text-align: center;
    align-items: center;
    margin-top: 2rem;
  }
  .hero .hero-buttons .button-light-gray,
.hero .hero-buttons .button-blue {
    padding: 12px;
  }
  .hero .hero-banner {
    position: static;
    height: 80%;
    right: 0 !important;
  }
  .hero .hero-bg {
    height: 38%;
    width: 90%;
    z-index: -1;
    bottom: 45%;
    right: -20%;
    position: absolute;
    display: block;
    border-radius: 0 0 0 25%;
  }
}

.features {
  position: relative;
  margin: 5rem 0;
}
.features-title {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: min(90%, 500px);
  margin-left: auto;
  margin-right: auto;
}
.features-title h3 {
  color: var(--clr-dark-blue);
  font-size: calc(1.25rem + 1vw);
  margin-bottom: 0;
  margin-bottom: 2rem;
}
.features-title p {
  color: var(--clr-grayish-blue);
  margin-bottom: 0;
  font-size: calc(0.9rem + 0.25vw);
}
.features-body {
  margin-top: 50px;
}
.features-body .body-links {
  text-align: center;
  display: flex;
  align-items: flex-end;
}
.features-body .body-links li > a {
  width: 244px;
  text-decoration: none;
  color: var(--clr-grayish-blue);
  border-bottom: 1px solid var(--clr-grayish-blue);
  padding: 25px;
}
.features-body .body-links li > a:focus {
  border-bottom: 4px solid var(--clr-soft-red);
  color: var(--clr-dark-blue);
}
.features-body .body-links li > a:hover {
  color: var(--clr-soft-red);
  cursor: pointer;
}
.features-body .body-parts .part-one,
.features-body .body-parts .part-two,
.features-body .body-parts .part-three {
  margin-top: 4rem;
}
.features-body .body-parts .part-one .parts-description,
.features-body .body-parts .part-two .parts-description,
.features-body .body-parts .part-three .parts-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
  padding-left: 6rem;
}
.features-body .body-parts .part-one .parts-description h1,
.features-body .body-parts .part-two .parts-description h1,
.features-body .body-parts .part-three .parts-description h1 {
  color: var(--clr-dark-blue);
  font-size: calc(1.25rem + 1vw);
  margin-bottom: 0;
}
.features-body .body-parts .part-one .parts-description p,
.features-body .body-parts .part-two .parts-description p,
.features-body .body-parts .part-three .parts-description p {
  color: var(--clr-grayish-blue);
  margin-bottom: 0;
  font-size: calc(0.75rem + 0.5vw);
}
.features-body .body-parts .part-one .banner,
.features-body .body-parts .part-two .banner,
.features-body .body-parts .part-three .banner {
  display: block;
  margin-left: auto;
  position: relative;
  right: 0;
  width: 90%;
}
.features-body .body-parts .part-one .bg,
.features-body .body-parts .part-two .bg,
.features-body .body-parts .part-three .bg {
  width: min(40%, 530px);
  aspect-ratio: 3/1.75;
  background-color: var(--clr-soft-blue);
  position: absolute;
  z-index: -1;
  left: 0;
  top: 27rem;
  border-radius: 0 0 10rem 0;
}
.features-body .body-parts .part-two .banner,
.features-body .body-parts .part-three .banner {
  width: 75%;
}
@media screen and (max-width: 767px) {
  .features-body .body-parts {
    display: flex;
    justify-content: center;
  }
  .features-body .body-parts .parts-description {
    text-align: center;
    align-items: center;
    margin-top: 2rem;
    padding: 16px !important;
  }
  .features-body .body-parts .part-one,
.features-body .body-parts .part-two,
.features-body .body-parts .part-three {
    margin-top: 0;
  }
  .features-body .body-parts .part-one .banner,
.features-body .body-parts .part-two .banner,
.features-body .body-parts .part-three .banner {
    position: static;
    margin: 1rem auto 0 auto;
    right: 0 !important;
    width: 80%;
  }
  .features-body .body-parts .part-one .bg,
.features-body .body-parts .part-two .bg,
.features-body .body-parts .part-three .bg {
    height: 20%;
    width: 70%;
    z-index: -1;
    top: 85%;
    right: -20%;
    position: absolute;
    display: block;
    border-radius: 0 0 100px 0;
  }
}

@media screen and (max-width: 991px) {
  .features .features-body .body-links {
    flex-direction: column;
    width: 100%;
  }
  .features .features-body .body-links .nav-item {
    width: 100%;
  }
  .features .features-body .body-links li > a {
    width: 100%;
  }
  .features .features-body .body-links .top-border {
    border-top: 1px solid var(--clr-grayish-blue);
    padding: 25px;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .features .features-body .body-parts .part-one .bg,
.features .features-body .body-parts .part-two .bg,
.features .features-body .body-parts .part-three .bg {
    top: 70%;
  }
}
.extentions {
  margin: 5rem 0;
}
.extentions-title {
  padding-top: 6rem;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: min(90%, 500px);
  margin-left: auto;
  margin-right: auto;
}
.extentions-title h3 {
  color: var(--clr-dark-blue);
  font-size: calc(1.25rem + 1vw);
  margin-bottom: 0;
  margin-bottom: 1.5rem;
}
.extentions-title p {
  color: var(--clr-grayish-blue);
  margin-bottom: 0;
  font-size: calc(0.9rem + 0.25vw);
}
.extentions-body {
  gap: 2rem;
  margin-top: 3rem;
}
.extentions-body .card {
  border: none;
  width: 246px !important;
  height: 330px;
  padding: 40px 0 20px 0;
  width: 286px;
  box-shadow: 0px 8px 41px -28px rgb(150, 150, 150);
}
.extentions-body .card .card-logo {
  width: 98px !important;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1/1;
}
.extentions-body .card .button {
  margin-top: 10px;
}
.extentions-body .card .card-body {
  padding-top: 20px;
}
.extentions-body .card .card-body img {
  width: 100%;
}
.extentions-body .card .card-body .card-title {
  color: var(--clr-dark-blue);
  font-size: 19px;
}
.extentions-body .card .card-body .card-text {
  font-size: 14px;
  color: var(--clr-grayish-blue);
}
.extentions-body .card-two {
  margin-top: 3rem;
}
.extentions-body .card-three {
  margin-top: 6rem;
}

@media screen and (max-width: 991px) {
  .extentions-body .card-two {
    margin-top: 0;
  }
  .extentions-body .card-three {
    margin-top: 0;
  }
}
.fqa {
  margin: 8rem 0 5rem 0;
}
.fqa-title {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: min(90%, 500px);
  margin-left: auto;
  margin-right: auto;
}
.fqa-title h3 {
  color: var(--clr-dark-blue);
  font-size: calc(1.25rem + 1vw);
  margin-bottom: 0;
  margin-bottom: 1.5rem;
}
.fqa-title p {
  color: var(--clr-grayish-blue);
  margin-bottom: 0;
  font-size: calc(0.9rem + 0.25vw);
}
.fqa-body {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}
.fqa-body .accordion {
  margin-bottom: 3rem;
}
.fqa-body .accordion:first-child {
  border-top: 1px solid var(--clr-light-gray);
}
.fqa-body .accordion-button {
  font-size: 18px;
  color: var(--clr-dark-blue);
  padding: 20px 0;
  font-weight: 500;
  justify-content: space-between;
}
.fqa-body .accordion-body {
  font-size: 18px;
  color: var(--clr-grayish-blue);
  padding: 45px 0;
  line-height: 40px;
}
.fqa-body .accordion-button:not(.collapsed) {
  color: var(--clr-soft-red);
  background-color: transparent;
}
.fqa-body .accordion-button::after {
  color: var(--clr-blue);
  display: none;
}
.fqa-body .accordion-button svg path {
  stroke: var(--clr-dark-blue);
}
.fqa-body .accordion-item,
.fqa-body .accordion-item:last-child {
  border: none;
  border-bottom: 1px solid var(--clr-light-gray);
}
.fqa-body > a {
  margin-left: auto;
  margin-right: auto;
}

.contact-us {
  background-color: var(--clr-soft-blue);
  text-align: center;
  padding: 3rem 0;
}
.contact-us .contact-us-body {
  margin-left: auto;
  margin-right: auto;
}
.contact-us .contact-us-body span {
  color: var(--clr-white);
  font-size: 12px;
  letter-spacing: 5px;
  margin-bottom: 0;
  margin-bottom: 1.5rem;
}
.contact-us .contact-us-body h3 {
  color: var(--clr-white);
  font-size: 28px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
}
.contact-us .contact-us-body .sendEmail {
  gap: 1rem;
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}
.contact-us .contact-us-body .sendEmail #result {
  font-size: 1rem;
  margin-top: 0.5rem;
  display: none;
}
.contact-us .contact-us-body .sendEmail input {
  width: 100%;
  padding: 14px 16px;
  font-size: 13px;
  border-radius: 5px;
  border: none;
}
.contact-us .contact-us-body .sendEmail a {
  width: 30%;
}

@media screen and (max-width: 767px) {
  .contact-us .contact-us-body .sendEmail {
    flex-direction: column;
  }
  .contact-us .contact-us-body .sendEmail input {
    width: 100%;
  }
  .contact-us .contact-us-body .sendEmail a {
    width: 100%;
  }
}
footer {
  background-color: var(--clr-dark-blue);
}
footer .footer-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-body svg path {
  fill: var(--clr-white);
}
footer .footer-body .links {
  display: flex;
  margin-bottom: 0;
  gap: 2rem;
  padding-left: 4rem;
}
footer .footer-body .links .item-link {
  color: var(--clr-white);
  font-weight: lighter;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
footer .footer-body .links .item-link:hover {
  color: var(--clr-soft-red);
  cursor: pointer;
  transition: all 0.2s ease-out;
}
footer .footer-body .links .footer-item {
  text-align: center;
  padding: 20px 0;
  list-style-type: none;
}
footer .footer-body .social {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}
footer .footer-body .social svg > path {
  fill: var(--clr-light-gray);
}
footer .footer-body .social svg > path:hover {
  fill: var(--clr-soft-red);
  cursor: pointer;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 767px) {
  footer .footer-body {
    flex-direction: column;
    padding: 3rem 0;
  }
  footer .footer-body .links {
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem 0 3rem 0;
  }
  footer .footer-body .links .footer-item {
    padding: 0;
  }
  footer .footer-body .links .item-link {
    font-size: 15px;
    letter-spacing: 2px;
    color: var(--clr-light-gray);
  }
}
body {
  font-family: "Rubik";
  overflow-x: hidden;
}